<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="nextjsedge"
             deploymentSecret="g7z4i6v4g2e3ajbl5wua4fx61lhbccnrqebybpbxwxq"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
